<!DOCTYPE html>
<html lang="pt-br">
	<head>
    <meta charset="UTF-8"/>
		<title>Minhas férias</title>
		<link href="style/style.css" rel="stylesheet" />
	</head>

	<body>

  <main>
		<h1 id="myID"> Férias 07/21 </h1>
			<p> Aqui vai um breve resumo das minhas férias e aqui umas palavras pra frase não ficar tão pequena e vazia. Fui testar e continou pequena, odeio a lista de Algebra linear <3 </p>
		<h3 class="top">O começo</h3>
  		<p>Durante o semestre eu havia morrido, então deitei na Minha
                cama e por uma semana tentei ressuscitar. Aqui também precisa de algumas palavras sem sentido para dar certo. </p>
		<h3 class="top">A última OBMEP</h3>
			<p> Já no início de Julho, precisei levantar da cama para fazer
	 							minha última OBMEP, após 7 anos.
								Talvéz tenham caído algumas lágrimas :( </p>
		<h3 class='top'>O resto</h3>
			<p> Tentei ver programação, mas deu errado. Vi séries, tentei voltar a estudar e deu errado again, então fiquei
								assistindo as olímpiadas. A faculdade começou e atrapalhou meu desempenho nelas :(</p>

		<h4> Séries que eu mais gostei: </h4>
		<ul> <li> Virgin River </li>
			<li> Biohackers </li>
			<li> Como vender drogas online rápido </li>
		</ul>

		<h4> Meu TOP 3 esportes olímpicos: </h4>
		<ol> <li> Ginástica Artística </li>
			<li> Skate </li>
			<li> Ginástica Ritmica </li>
		</ol>
    </main>

				<table>
				            <tr>
				                <th>Esporte</th>
				                <th>Medalhas</th>
				            </tr>
				            <tr>
				                <td>Ginástica Artística</td>
				                <td>2</td>
				            </tr>
										<tr>
				            		<td>Skate</td>
				            		<td>3</td>
										</tr>
				            <tr>
												<td>Ginastica Ritmica</td>
												<td>0</td>
				            </tr>

				        </table>
<h3 class='top'> Vídeo definindo o final das férias </h3>
<iframe width="560" height="315"
src="https://www.youtube.com/embed/AsUE0I8lEZU"
title="YouTube video player" frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe>


<h3 class='top'> Gif definindo o final das férias </h3>

<header>
				<img class="center" src="ferias1.gif" alt="Gato"/>
</header>


<h3> Dúvidas? Contatos: </h3>
				<nav>
				            <a href="mailto: marcelimel12@gmail.com"> Email</a>
				            <a href="tel:+123456789"> Telefone</a>
						</nav>



<a href="#">Voltar ao topo</a>
<footer>Copyright & copy; 2021 by Marcéli.</footer>


	</body>

</html>
